<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>Cars</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Cars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/index}">Все объявления</a>
                <a class="nav-item nav-link" th:if="${user.name != 'Гость'}" th:href="@{/logout}">
                    <span th:text="${user.name}"></span>
                    <span> | Выйти</span>
                </a>
                <a class="nav-item nav-link" th:if="${user.name == 'Гость'}" th:href="@{/loginPage}">
                    <span th:text="${user.name}"></span>
                    <span> | Войти </span>
                </a>
                <a class="nav-item nav-link" th:if="${user != null and user.name == 'Admin'}" th:href="@{/settings}">Настройки</a>
            </div>
        </div>
    </nav>

    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/indexByMark/${1}|}">Lada</a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/indexByMark/${2}|}">Audi</a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/indexByMark/${3}|}">BMW</a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/indexByMark/${4}|}">Ford</a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/indexByMark/${5}|}">Jeep</a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/indexByMark/${6}|}">VW</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/indexByMark/${7}|}">Volvo</a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/indexByMark/${8}|}">Skoda</a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/indexByMark/${9}|}">Benz</a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/indexByMark/${10}|}">Kia</a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/indexByMark/${11}|}">Honda</a>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a th:href="@{|/index|}">Все марки</a>
                </div>
            </div>
        </div>
        <div>
            <div class="ui-button addAd" th:if="${user.name != 'Гость'}">
                <a class="nav-ad nav-link" th:href="@{/addAd}">
                    <button type="submit" class="btn btn-success mt-3">Добавить объявление</button>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Авто</th>
                <th scope="col">Название</th>
                <!--                <th scope="col">Марка</th>-->
                <th scope="col">Тип кузова</th>
                <th scope="col">Статус</th>
                <th scope="col">Цена</th>
                <!--                <th scope="col">Дата публикации</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="ad: ${ads}">
                <div class="button ad">

                    <td>
                        <img th:width="50" th:high="50" th:src="@{|/photoAdFirst/${ad.id}|}">
                    </td>
                    <td>
                        <a th:href="@{|/descriptionAd/${ad.id}|}" th:text="${ad.name}"></a>
                    </td>
                    <!--                    <td th:text="${ad.mark.name}"></td>-->
                    <td th:text="${ad.body.name}"></td>
                    <td>
                                            <span th:if="${ad.sale}">
                                                Продано
                                            </span>
                        <span th:if="${!ad.sale}">
                                                В наличии
                                            </span>
                    </td>
                    <td th:text="${#numbers.formatDecimal( ad.price,3,'POINT',2,'COMMA')}"></td>
                    <!--                    <td th:text="${#dates.format(ad.created, 'dd-MM-yyyy HH:mm')}"></td>-->
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>