<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>settings</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">settings</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/index}">Все объявления</a>
            </div>
        </div>
    </nav>
    <div class="card-body">
        <div th:if="${fail}" class="alert alert-danger" role="alert">
            Такой кузов уже существует
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Перечень настроек</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Пользователи</th>
                    <div class="button body">
                        <td>
                            <form th:action="@{/addUser}">
                                <button type="submit" class="btn btn-info mt-3">Настроить</button>
                            </form>
                        </td>
                    </div>
                </tr>
                <tr>
                    <th scope="row">Марка</th>
                    <div class="button body">
                        <td>
                            <form th:action="@{/addMark}">
                                <button type="submit" class="btn btn-info mt-3">Настроить</button>
                            </form>
                        </td>
                    </div>
                </tr>
                <tr>
                    <th scope="row">Коробка</th>
                    <div class="button body">
                        <td>
                            <form th:action="@{/addTransmission}">
                                <button type="submit" class="btn btn-info mt-3">Настроить</button>
                            </form>
                        </td>
                    </div>
                </tr>
                <tr>
                    <th scope="row">Корпус</th>
                    <div class="button body">
                        <td>
                            <form th:action="@{/addBody}">
                                <button type="submit" class="btn btn-info mt-3">Настроить</button>
                            </form>
                        </td>
                    </div>
                </tr>
                <tr>
                    <th scope="row">Двигатель</th>
                    <div class="button body">
                        <td>
                            <form th:action="@{/addEngine}">
                                <button type="submit" class="btn btn-info mt-3">Настроить</button>
                            </form>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>